.custom-padding {
    padding: 20px 40px;
  }
  
.header {
  background: linear-gradient(
      to bottom,
      #323232 0%,
      #3f3f3f 40%,
      #1c1c1c 150%
    ),
    linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
    .header-button {
      text-decoration: none !important;
      text-transform: none;
      font-weight: 550;
      font-size: 1rem;
    }
}

.company-card{
  .avatar-background {
    background: linear-gradient(
        to bottom,
        #323232 0%,
        #3f3f3f 40%,
        #1c1c1c 150%
      ),
      linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
  }
}

.action-btn {
  background: #E9ECF2;
  background-color: #E9ECF2 !important;
  color: black !important;
  text-transform: none !important;
  font-weight: 550 !important;
}
